DATABASE_INSTANCE=my-project:europe-west1:my-instance
DATABASE_NAME=postgres

## Choose Auth type:
# IAM User
DATABASE_USE_IAM_AUTH=true
DATABASE_USER=my-service-account@my-project.iam
GOOGLE_APPLICATION_CREDENTIALS=./private/key.json
# Built-in User
DATABASE_USE_IAM_AUTH=false
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

## Choose IP type:
# Public
DATABASE_USE_PUBLIC_IP=true
# Private
DATABASE_USE_PUBLIC_IP=false
